<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://localhost:3000/about">Secondhand</a> is supporting
  secondhand events at Messe Burgthann to collect lists for selling
  items at the secondhand events.
</p>
