<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <em>Secondhand</em> is supporting secondhand events at
  <em>Kinderkleider und Spielzeugbörse Burgthann</em> to collect the items to 
  be sold.
</p>

</br>

<h3>The Team</h3>

<dl>
  <dt>Website design</dt>
  <dd>Amanda</dd>
</dl>

<dl>
  <dt>Development</dt>
  <dd>Pierre</dd>
</dl>

<dl>
  <dt>Test</dt>
  <dd>Bernd</dd>
  <dd>Birgit</dd>
  <dd>Simone</dd>
  <dd>Tina</dd>
</dl>
