<% provide(:title, 'Über uns') %>
<h1>Über uns</h1>
<p>
  <em>Secondhand</em> unterstützt Secondhand-Veranstaltungen der
  <em>Kinderkleider und Spielzeugbörse Burgthann</em> um Artikel zu erfassen die  auf der Börse verkauft werden sollen.
</p>

</br>

<h3>Das Team</h3>

<dl>
  <dt>Website Design</dt>
  <dd>Amanda</dd>
</dl>

<dl>
  <dt>Entwicklung</dt>
  <dd>Pierre</dd>
</dl>

<dl>
  <dt>Test</dt>
  <dd>Bernd</dd>
  <dd>Birgit</dd>
  <dd>Simone</dd>
  <dd>Tina</dd>
</dl>
