<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Secondhand | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on Secondhand at the
      <a href="http://localhost:3000/help">Secondhand help page</a>.
    </p>
  </body>
</html>

