<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Secondhand | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Secondhand</h1>
    <p>
      Welcome to <em>Secondhand</em> partner of
      <a href="http://messe-burgthann.de/">Kinder und Kleiderbörse Burgthann</a>
      to collect your items to sell at the secondhand event in Burgthann
    </p>
  </body>
</html>
