<% provide(:title, 'Home') %>
<h1>Secondhand</h1>
<p>
  Welcome to <em>Secondhand</em> partner of
  <a href="http://messe-burgthann.de/">Kinder und Kleiderbörse Burgthann</a>
  to collect your items to sell at the secondhand event in Burgthann
</p>
