<%= provide(:title, t('.query_title')) %>

<h1><%= t('.query_title') %></h1>

<% if @event %>
  <%= render 'query_form' %>
<% else %>
  <div class="center well">
    <%= t('missing_event_html', action: t('.action'), 
          link: link_to(t('.events'), events_path, 
                        id: 'activate_event', class: 'btn btn-small')) %>
  </div>
<% end %> 

