<table id="items-table" class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.item_number') %></th>
      <th><%= t('.item_description') %></th>
      <th><%= t('.item_size') %></th>
      <th><%= t('.item_price') %></th>
      <th/>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
