<% provide(:title, t('.Sign_up')) %>
<h1><%= t('.Sign_up') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>

      <%= f.submit t('.Create_my_account'), 
                   class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
