<% if topic.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= raw t('errors.template.header', count: topic.errors.count,
                model: t("activerecord.models.#{topic.class.to_s.downcase}")) %>
    </div>
    <ul>
      <% topic.errors.full_messages.each do |m| %>
        <li><%= raw m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
