<%= provide(:title, t('.New_Item')) %>

<h1><%= t('.New_Item') %></h1>

<div class="row">
  <div class="span6 offset3">

    <%= render 'form' %>

    <%= link_to t('.Back'), user_list_items_path(@user, @list) %>
  </div>
</div>
