<footer class="footer">
  <small>
    <a href="http://syc.dyndns.org/drupal">Secondhand</a>
    by Sugar Your Coffee
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://messe-burgthann.de/">News</a></li>
    </ul>
  </nav>
</footer>
