<footer class="footer">
  <small>
    <a href="https://github.com/sugaryourcoffee/secondhand", 
      target="_blank">Secondhand <%= Rails.configuration.version %></a>
    by Sugar Your Coffee
  </small>
  <nav>
    <ul>
      <li><%= link_to t('.About'),   about_path %></li>
      <li><%= link_to t('.Contact'), contact_path %></li>
      <li><a href="http://boerse-burgthann.de/">News</a></li>
    </ul>
  </nav>
</footer>
